<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
<!-- Latest compiled and minified CSS (Bootstrap) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="navigation">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="heading">
            <h1>Success Works</h1>
            <h2>Educational Consulting</h2>
            <h3>Investing in tomorrow, Today</h3>
    
            <p>The sole mission of <strong>Success Works Educational Consulting</strong> is to assist school districts and school sites with <strong>improving student performance</strong> to <strong>eliminate the achievement gap.</strong><p>
        </div><!--heading-->
        <div class="section">
                <h5>What We Do</h5>
                <p>Since 2008 Success Works provides a Systematic Approach to Teaching and Learning that uses Data-Driven Instructional Design in a unique manner that ensures that all teaching results in student learning.</p>
                <h5>We provide</h5>
                <ul>
                    <li><strong>schools</strong> with practical tools and solutions used to meet Common Core Standards and prepare students for college and career readiness. 
                    </li>
                    <li><strong>teachers</strong> with a Standards-based Teaching Design that meets the learning needs of ALL students, </li>
                    <li><strong>students</strong> with a Standards-based Learning Approach that produces a high degree of efficacy (can do attitudes), strategies used to increase critical and analytical thinking and skill development needed for sustained improvement and increased achievement</li>
                </ul>
                <p>Total School Improvement solutions that can be sustained by school districts and local school-sites.</p>
        </div>
        <div class="section">
                <h5>Contact Us Today</h5>
                <p>We look forward to working in partnership with you.</p>
                <p>
                sweducationconsult@yahoo.com<br /> 
                        (225)361-5647<br />
                        (770)403-5516
                </p>
        </div>
        <div class="footer">
                <div class="row">
                        <div class="col-md-6">
                            <strong>Success Works Educational Consultant</strong>
                            <p> 705 Powers Ferry Rd #202<br />
                                Marietta,GA , GA
                            </p>
                            <p> ph: (225)361-5647<br />
                            alt: (770)403-5516<br />
                            sweducationconsult@yahoo.com<br />
                            Follow us:TwitterFacebook</p>
                        </div>
                        <div class="col-md-6">
                                <p>
                                Copyright Success Works Educational Consulting.LLC<br />  All rights reserved
                                </p>
                        </div>
                </div>
        </div>
<!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </div><!--container-->
</body>
</html>
